.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  background-color: green;
  font: inherit;
  border: 1px solid #eee;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  outline: 0;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
}

.Cockpit button.Red:hover {
  background-color: salmon;
}
